{% load static %}
<nav
class="p-4 bg-white shadow flex flex-row gap-6"
>
    <!-- LOGO BOX -->
    <div
    class="flex gap-4 items-center"
    >
        <img 
        src="{% static 'img/atlas.jpg' %}"
        alt="logo"
        class="w-12 rounded-md"
        />
        <h1 class="font-semibold text-2xl">
            Atlas Client Manager
        </h1>
    </div>
    <!-- NAV BOX -->
    <div
    {% comment %} 
    hx-boost="true"
    hx-push-url="true"
    {% endcomment %}
    hx-target="#container"
    class="flex gap-4 items-center"
    >
        <a 
        class="hover:text-sky-700"
        hx-get="{% url "projects" %}"
        >
            Projects View
        </a>
        <a 
        class="hover:text-sky-700"
        hx-get="/"
        >
            Clients View
        </a>
        <a 
        class="hover:text-sky-700"
        hx-get="{% url "tasks" %}"
        >
            Tasks View
        </a>
    </div>
</nav>