{% load static %}
<nav
class="p-4 bg-white shadow flex flex-row gap-6"
>
    <!-- LOGO BOX -->
    <div
    class="flex gap-4 items-center cursor-default"
    >
        <img 
        src="{% static 'img/atlas.jpg' %}"
        alt="logo"
        class="w-12 rounded-md"
        />
        <h1 class="font-semibold text-2xl">
            Atlas Client Manager
        </h1>
    </div>
    <!-- NAV BOX -->
    <div class="grow flex justify-between">
        <div
        {% comment %} 
        hx-boost="true"
        hx-push-url="true"
        {% endcomment %}
        hx-target="#container"
        class="flex gap-4 items-center"
        >
            <a 
            class="p-2 rounded-md hover:text-sky-700 hover:bg-sky-50 cursor-pointer"
            hx-get="{% url "projects" %}"
            >
                Projects
            </a>
            {% comment %} 
            <a 
            class="p-2 rounded-md hover:text-sky-700 hover:bg-sky-50 cursor-pointer"
            hx-get="/"
            >
                Clients View
            </a> 
            {% endcomment %}
            <a 
            class="p-2 rounded-md hover:text-sky-700 hover:bg-sky-50 cursor-pointer"
            hx-get="/"
            >
                Tasks
            </a>
        </div>
        <div class="flex items-center gap-4">

            {% with user=request.user %}
                {% component "user_avatar" user=user %}
            {% endwith %}

            <a
            href="{% url "account_logout" %}"
            >
                <img
                src="{% static "icons/logout.png" %}"
                alt="logout"
                class="w-4 h-4"
                />
            </a>
        </div>
    </div>
</nav>