{% extends "account/account_base.html" %}

{% block box %}
<h1 class="text-xl font-bold">
    Sign up
</h1>
<p class="max-w-fit">Create an account and change your schedule using atlas.</p>
<form 
method="POST"
class="flex flex-col gap-4 my-4"
>
    {% csrf_token %}
    {% for field in form %}
    <div class="flex flex-col md:flex-row justify-between gap-4">
        {{field.label}}
        {{field}}
    </div>
    
    {% endfor %}
    <button 
    class="
    py-1 px-2 bg-sky-200 shadow rounded-md 
    transition hover:-translate-y-0.5
    ">
        Create an account
    </button>
</form>
<p>
    or 
    <a href="{% url "google_login" %}">
        sign in using Google
    </a>
</p>
{% endblock box %}