{% extends "base.html" %}
{% load static %}

{% block body %}
{% component "navbar" %}
<div class="container mx-auto" id="container">
    <div class="mt-36 flex flex-col items-center gap-4">
        <img
        src="{% static "icons/empty.png" %}"
        class="w-36"
        />
        <h1 class="font-semibold text-xl text-center">
            Seems like it's nothing here...
        </h1>
        <p>
            Fill this page by picking one of the options
        </p>
    </div>
</div>
{% endblock body %}