{% extends "base.html" %}

{% load static %}

{% block body %}

<div class="grid grid-cols-5">
    <nav 
    hx-boost="true" 
    hx-push-url="true"
    hx-target="#main"
    class="p-4 flex flex-col gap-4"
    >
    <div class="flex items-baseline gap-2">
        <img 
        src="{% static "img/atlas.jpg" %}"
        alt="logo"
        class="w-16"
        />
        <h1 class="font-semibold text-lg">
            Atlas Client Manager
        </h1>
    </div>

        {% component "nav_element" title="Clients"%}
        {% component "nav_element" title="Projects" %}
        {% component "nav_element" title="Tasks" %}
    </nav>



    <main id="main">
        <div class="content-placeholder">
            <h1>Here goes the content...</h1>
            <p>Pick an option from the menu</p>
        </div>
    </main>
</div>

{% endblock body %}
