{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "css/landing.css" %}"/>
{% endblock head %}

{% block main %}
<div class="container-hero" >
    <div 
    class="image-overlay"
    style="background-image: url('{% static "img/background.jpg" %}')"
    >
    </div>
    <div class="main-box" hx-boost="true" hx-target="this">
        <div class="hero-header">
            <h1>Feeling left alone with your<br/> freelance business?</h1>
            <p>Make your life easier with Atlas Manager - an open-source Client Management System made by freelancers for freelancers.
        </div>
        <a href="/login">
            <button class="button-primary">
                Try it out
            </button>
        </a>
    </div>
</div>
{% endblock main %}
