<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlas Client Manager</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" href="{% static "css/landing.css" %}"/>
</head>
<body>
    


    <div class="container-hero">
        <div 
        class="image-overlay"
        style="background-image: url('{% static "img/background.jpg" %}')"
        >
        </div>
        <div class="main-box">
            <div class="hero-header">
                <h1>Feeling left alone with your<br/> freelance business?</h1>
                <p>Make your life easier with Atlas Manager - an open-source client manager made by freelancers for freelancers.
            </div>
            
            {# This should be changed - for current purposes let's omit authentication #}
            {% if  development_mode  %}
            <a href="{% url "dashboard" %}">
                <button class="button-primary">
                    Go to dashboard
                </button>
            </a>
            {% else %}
            <a>
                <button class="button-primary">
                    Try it out
                </button>
            </a>
            {% endif %}

        </div>
    </div>

</body>
</html>



{% load static %}

