{% load static %}
<div class="bg-white mb-6 shadow min-h-1 rounded-md flex justify-between">
        <form class="flex gap-1 items-center">
            <input 
            type="text"
            name="search"
            placeholder="Search for a project..."
            class="m-2 p-1 border border-sky-200 rounded-md"
            hx-post="{% url "get_projects" %}"
            hx-target="#search-results" 
            hx-trigger="keyup changed delay:200ms, search" 
            />
            <img
            src="{% static "icons/search.png" %}"
            alt="search"
            class="w-4"
            />
            <div
            id="group-filter"
            class="ml-4 p-3 bg-sky-50 hover:bg-sky-200 rounded-md transition flex gap-2"
            hx-get="{% url "project_groups" %}"
            hx-swap="outerHTML"
            >
                <img
                src="{% static "icons/filter.png" %}"
                alt="filter"
                class="w-4"
                />
                <p class="text-xs">
                    Filter by group
                </p>
            </div>
        </form>
        <div class="flex gap-2 mr-3 items-center">
            <div class="p-3 bg-sky-50 hover:bg-sky-200 rounded-md transition flex gap-2">
                <img
                src="{% static "icons/add.png" %}"
                alt="add"
                class="w-4"
                />
                <p class="text-xs">
                    Add a project
                </p>
            </div>
            <div class="p-3 bg-sky-50 hover:bg-sky-200 rounded-md transition flex gap-2">
                <img
                src="{% static "icons/group.png" %}"
                alt="group"
                class="w-4"
                />
                <p class="text-xs">
                    Add a group
                </p>
            </div>
        </div>
</div>